 <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-a11bc209-6ecf-4cdb-a3a5-3ac988005204;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-a11bc209-6ecf-4cdb-a3a5-3ac988005204.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="EatIn" connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>-->
   <add name="DefaultConnection"
     connectionString="Data Source=.;Initial Catalog=eRestaurant;Integrated Security=true;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
